.fit-area {
    display: flex;
}
.wd-transparent-input {
    background: transparent;
    border: none;
    outline: none;
}

.border-search {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.border-right-round {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.no-border-right {
    border-right: 0px;
}
.no-border-only-bottom {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
.no-border-left {
    border-left: 0px;
}

.gear-icon-color {
    color: #309cd4;
}

.bottom-20 {
    position: fixed;
    bottom: 30px
}
.wd-lightgray-text {
    color: #6c747d;
}

.rounded-img {
    border-radius: 15%;
}

.img-text {
text-align: left;
    position: absolute;
    bottom: -23px;
    left: 8px;

    /*margin-left: -100px;*/
    /*margin-bottom: -35px;*/
}

.img-sizing {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 957px) {
    .hide-screen {
        display: none !important;
    }
}

.wd-top-padding-spe {
    padding-top: 10px;
}